extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg",alt="Imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt tincidunt turpis, mollis euismod dolor. Etiam rutrum ipsum eu velit molestie, eu mattis mauris molestie. Aliquam ac tincidunt. 
                p Cras aliquet tincidunt eros a malesuada. Nullam vitae justo odio. Maecenas aliquam, quam quis ultrices tristique, purus mauris consectetur leo, feugiat lobortis lectus erat at massa. Mauris elementum tincidunt ex, eu aliquet magna accumsan vel. Nulla rhoncus ultrices nunc, a suscipit mauris vehicula ac. Sed dictum tortor in rhoncus commodo. Curabitur felis ipsum, rhoncus id pretium ut, mattis vitae ipsum.
                p Morbi rutrum elit libero. Vivamus porta risus at finibus feugiat. Nulla justo risus, ornare sed mi eget, cursus lacinia turpis. Nunc ultrices, risus sit amet molestie egestas, odio elit pretium libero, id viverra erat felis vel tortor. Suspendisse id nulla rhoncus, porttitor risus semper, varius nisl. Suspendisse dapibus cursus.

    .listado-icons 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Morbi rutrum elit libero. Vivamus porta risus at finibus feugiat. Nulla justo risus, ornare sed mi eget, cursus lacinia turpis. Nunc ultrices, risus sit amet molestie egestas, odio elit pretium libero, id viverra erat felis vel tortor. Suspendisse id nulla rhoncus, porttitor risus semper, varius nisl. Suspendisse dapibus cursus.
                    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Morbi rutrum elit libero. Vivamus porta risus at finibus feugiat. Nulla justo risus, ornare sed mi eget, cursus lacinia turpis. Nunc ultrices, risus sit amet molestie egestas, odio elit pretium libero, id viverra erat felis vel tortor. Suspendisse id nulla rhoncus, porttitor risus semper, varius nisl. Suspendisse dapibus cursus.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios  
                    p Morbi rutrum elit libero. Vivamus porta risus at finibus feugiat. Nulla justo risus, ornare sed mi eget, cursus lacinia turpis. Nunc ultrices, risus sit amet molestie egestas, odio elit pretium libero, id viverra erat felis vel tortor. Suspendisse id nulla rhoncus, porttitor risus semper, varius nisl. Suspendisse dapibus cursus.
                    
    

